@charset "utf-8";

/* 스킵 내비게이션 */
#skip {position: relative;} /* 기준점 */
#skip a {position: absolute; left: 0px; top: -35px; border: 1px solid #fff; color: #fff; background: #333; line-height: 30px; width: 170px; text-align: center;}
#skip a:active,
#skip a:focus {top: 0;}

/* 레이아웃 */
#wrap {}
#header {height: 325px; background: url(../img/header.jpg) center top repeat-x}
#contents {}
#footer {border-top: 1px solid #eee;}

/* 컨텐츠 레이아웃 */
#cont_nav {background: #F2FAFC; display: none;}
#cont_tit {background: #d4f4f4;}
#cont_ban {background: #c7eaea;}
#cont_cont {background: #F2FAFC;}

/* 컨테이너 */
.container {width: 990px; margin: 0 auto; height: inherit; /* background: rgba(255,255,255,0.2) */}

/* 헤더 */
.header {}
.header .header-menu {text-align: right;} /* a 태그는 inline 구조라서 직접 정렬하면 먹히지 않음 */
.header .header-menu a {color: #48B3B5; font-size: 10px; padding: 10px 8px 10px 5px; display: inline-block;}
/* inline은 padding이 먹히지 않음, padding 순서: 위, 오른쪽, 아래쪽, 왼쪽*/
.header .header-menu a:hover {color: #fff;}
/* 마우스 올렸을 때 */
.header .header-tit {text-align: center;}
.header .header-tit h1 {font-size: 25px; display: inline-block; color: #fff; background: #48B3B5; padding: 5px 20px 6px 20px; margin-top: 60px; font-weight: 100; text-transform: uppercase;}
.header .header-tit a {display: inline-block; color: #409FA1; font-size: 13px; background: #265D5E; padding: 7px 20px 8px 20px;}
.header .header-tit a:hover {color: #48B3B5;}
.header .header-icon {text-align: center; margin-top: 40px;}
.header .header-icon a {width: 62px; height: 62.5px; display: inline-block; background: url(../img/icons2.png);}
.header .header-icon a.icon1 {background-position: 0 0;}
.header .header-icon a.icon1:hover {background-position: -63px 0;}
.header .header-icon a.icon2 {background-position: 0 -62px;}
.header .header-icon a.icon2:hover {background-position: -63px -62px;}
.header .header-icon a.icon3 {background-position: 0 -124.6px;}
.header .header-icon a.icon3:hover {background-position: -63px -125.5px;}
.header .header-icon a.icon4 {background-position: 0 -186.5px;}
.header .header-icon a.icon4:hover {background-position: -63px -186.5px;}

/* float: left로 인한 영역깨짐(height: 0) 방지법
1. 깨지는 영역에 똑같이 float: left;를 사용한다.(X) --> 모든 박스에 float: left를 사용하게 된다.
2. float의 성질을 차단하는 clear: both;를 사용한다.(X) --> 어떤 영역이 깨졌는지 찾기 어렵다.
3. float을 사용한 상위 박스한테 overflow: hidden을 사용한다.(O) --> 현재는 제일 많이 사용한다.
4. clearfix를 사용한다.(O) --> 가장 좋은 방법, 반응형에서 배울 예정이다.
*/

/* 전체 메뉴 */
.nav {overflow: hidden; padding: 30px 0;}
.nav > div {float: left; width: 40%;}
.nav > div:last-child {width: 20%;} /* ie9부터 사용 가능 */
.nav > div.last {width: 20%;}
.nav > div h3 {font-size: 18px; color: #25a2d0; margin-bottom: 4px;}
.nav > div ol {overflow: hidden;}
.nav > div ol li {float: left; width: 50%;}
.nav > div.last ol li {width: 100%;}
.nav > div ol li a:hover {text-decoration: underline;}

/* 타이틀 */
.tit {position: relative;} /* 정렬 기준 */
.tit h2 {font-size: 40px; text-align: center; padding: 5px 0; letter-spacing: 2px; color: #54adad; font-family: 'Nanum Brush Script', cursive;}
.tit .btn {position: absolute; top: 5px; right: 0; width: 62px; height: 61.5px; background: url(../img/icons2.png) no-repeat -125px 0;}
.tit .btn.on {background-position: -250px 0;}

/* 배너 */
/*
.ban {position: relative; padding: 24px 0 20px;}
.ban a.prev {position: absolute; left: -80px; top: 60px; width: 47px; height: 47px; background: url(../img/icons2.png) no-repeat -126px -62px;}
.ban a.prev:hover {background-position: -172.5px -61px;}
.ban a.next {position: absolute; right: -80px; top: 60px; width: 47px; height: 47px; background: url(../img/icons2.png) no-repeat -126px -108px;}
.ban a.next:hover {background-position: -172px -108px;}
.ban ul {overflow: hidden;}
.ban ul li {float: left; width: 330px;}
.ban ul li.ban_img1 {text-align: left;}
.ban ul li.ban_img2 {text-align: center;}
.ban ul li.ban_img3 {text-align: right;}
.ban ul li img {border: 4px solid #dcdcdc;}
.ban ul li img:hover {border-color: #98dcdc;}
*/

/* 슬릭 배너 */
.ban {position: relative; padding: 24px 0 40px;}
.ban .slick-prev {position: absolute; left: -90px; top: 80px; width: 47px; height: 47px; background: url(../img/icons2.png) no-repeat -126px -62px; text-indent: -9999px;}
.ban .slick-prev:hover {background-position: -172.5px -61px;}
.ban .slick-next {position: absolute; right: -80px; top: 60px; width: 47px; height: 47px; background: url(../img/icons2.png) no-repeat -126px -108px; text-indent: -9999px;}
.ban .slick-next:hover {background-position: -172px -108px;}
.ban img {border: 4px solid #dcdcdc;}
.ban img:hover {border-color: #98bcbc;}
.ban .slick-slide {margin: 10px;}
.ban .slick-dots {position: absolute; bottom: 15px; display: block; width: 100%; text-align: center;}
.ban .slick-dots li {display: inline-block; width: 15px; height: 15px; margin: 5px;}
.ban .slick-dots li button {font-size: 0; line-height: 0; display: block; width: 15px; height: 15px; cursor: pointer; background: #4CB3B4; border-radius: 50%;}
.ban .slick-dots li.slick-active button {background: #1C6A74}


/* 컨텐츠 */
.cont {overflow: hidden; padding-top: 30px;} /* margin을 주면 흰색이 나타남 */
.cont .column {position: relative; float: left; width: 289px; height: 363px; margin: 0 30px 30px 0; padding-right: 30px;}
.cont /* (div.column) */.col1 {border-right: 1px solid #c8c8c8;}
.cont .col2 {border-right: 1px solid #c8c8c8;}
.cont .col3 {margin-right: 0; padding-right: 0;}
.cont .col4 {border-right: 1px solid #c8c8c8;}
.cont .col5 {border-right: 1px solid #c8c8c8;}
.cont .col6 {margin-right: 0; padding-right: 0;}

.cont .column .ico_img {display: block; width: 62px; height: 62px; background: url(../img/icons2.png) no-repeat; position: absolute; left: 0; top: 0;}
.cont .column .ico_tit {padding-left: 70px;}
.cont .column .ico_desc {padding-left: 70px; border-bottom: 1px solid #d0d0d0; padding-bottom: 15px; margin-bottom: 15px;}

.cont .col1 .ico_img {background-position: 0px -125px;}
.cont .col2 .ico_img {background-position: 0px -187.5px;}
.cont .col3 .ico_img {background-position: 0px -250px;}
.cont .col4 .ico_img {background-position: 0px -312.5px;}
.cont .col5 .ico_img {background-position: 0px -375px;}
.cont .col6 .ico_img {background-position: 0px -437.5px;}

.cont .col1 .ico_img:hover {background-position: -62.5px -125px;}
.cont .col2 .ico_img:hover {background-position: -62.5px -187.5px;}
.cont .col3 .ico_img:hover {background-position: -62.5px -250px;}
.cont .col4 .ico_img:hover {background-position: -62.5px -312.5px;}
.cont .col5 .ico_img:hover {background-position: -62.5px -375px;}
.cont .col6 .ico_img:hover {background-position: -62.5px -437.5px;}

/* 게시판1 */
.notice {position: relative;}
.notice h4 {font-size: 14px; color: #4CB3B4; padding-bottom: 3px; font-weight: bold;}
.notice ul li {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; background: url(../img/dot.png) no-repeat 0 8px; padding-left: 8px; padding-top: 3.5px;} /* overflow: hidden; 내가 지정한 영역 이외에는 아무것도 보이지 말라 */ /* ellipsis: ...으로 넘어감 */
.notice ul li a {font-size: 12px; padding-left: 5px;}
.notice a.more {font-size: 30px; color: #4CB3B4; position: absolute; right: 10px; top: -13px;}

/* 게시판2 */
.notice2 {position: relative; margin-top: 15px;}
.notice2 h4 {font-size: 14px; color: #4CB3B4; padding-bottom: 3px; font-weight: bold;}
.notice2 ul li {overflow: hidden; background: url(../img/dot.png) no-repeat 0 8px; padding-left: 13px; padding-top: 3.5px;}
.notice2 ul li a {float: left; width: 65%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.notice2 ul li span{float: right; width: 30%; text-align: right;}
.notice2 a.more {font-size: 30px; color: #4CB3B4; position: absolute; right: 10px; top: -13px;}

/* 게시판3 */
.notice3 {position: relative;}
.notice3 h4 {font-size: 14px; color: #4CB3B4; padding-bottom: 3px; font-weight: bold;}
.notice3 ul li {position: relative; padding: 8px 0 14px 60px;}
.notice3 ul li a img {width: 50px; position: absolute; left: 0; top: 0; border: 1px solid #4CB3B4;}
.notice3 ul li a strong {display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.notice3 ul li a span {display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 12px;}
.notice3 a.more {font-size: 30px; color: #4CB3B4; position: absolute; right: 10px; top: -13px;}

/* 마우스 오버효과 */
.notice_hover h4 {font-size: 14px; color: #4CB3B4; padding-bottom: 3px; font-weight: bold;}
.notice_hover ul {overflow: hidden;}
.notice_hover li {float: left; width: 93px; margin-right: 5px; text-align: center;}
.notice_hover li.last {margin-right: 0;}
/* .notice_hover li:last-child {float: left; width: 93px; margin-right: 5px;} ie9부터 적용 */
.notice_hover li a span {position: relative; display: block; width: 93px; height: 93px; line-height: 93px;}
.notice_hover li a span img {width: 100%;}
.notice_hover li a span em {visibility: hidden; position: absolute; left: 0; top: 0; background: rgba(0,0,0,0.5)/* ie9부터 적용 */; color: #fff; width: 100%; height: 100%;}
.notice_hover li a span:hover em {visibility: visible;}
.notice_hover li a strong {padding-top: 3px; display: inline-block; font-size: 12px;}

/* 마우스 오버효과2 */
.notice_hover2 {}
.notice_hover2 ul {overflow: hidden;}
.notice_hover2 ul li {float: left; width: 93px; text-align: center; margin-right: 5px;}
.notice_hover2 ul li.last {margin-right: 0;}
.notice_hover2 ul li a span {position: relative; display: block; width: 93px; height: 93px;}
.notice_hover2 ul li a span img {width: 100%;}
.notice_hover2 ul li a span em {visibility: hidden; position: absolute; left: 0; bottom: 0; width: 100%; background: rgba(0,0,0,0.5)/* ie9부터 적용 */;}
.notice_hover2 ul li a span:hover em {visibility: visible;}
.notice_hover2 ul li a strong {padding-top: 3px; display: inline-block; font-size: 12px;}

/* 콘텐츠 요소를 보이지 않게 하는 방법
1. display: none; -- display: block; (영역이 사라짐)
2. visibility: hidden; -- visibility: visible; (영역이 유지됨)
3. opacity: 0; -- opacity: 1; (영역이 유지됨)
4. width: 0; height: 0; overflow: hidden; (ir효과)
*/

/* 탭 메뉴 */
.tab_menu {position: relative; border: 1px solid #ccc; padding: 8px; height: 105px;}
.tab_menu ul {overflow: hidden; border-bottom: 1px solid #ccc;}
.tab_menu ul li {float: left; border: 1px solid #ccc; margin-right: -1px;/* 두 줄 효과를 한 줄처럼 보이게 하기 */ margin-bottom: -1px;} 
.tab_menu ul li a {display: block; padding: 5px 10px;}
.tab_menu ul li ul {position: absolute; left: 0; top: 48px; width: 270px; border: 0;}
.tab_menu ul li ul li {float: none; border: 0; background: url(../img/dot.png) no-repeat 10px 5px; padding-left: 22px;}
.tab_menu ul li ul li a {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 0 0 3px 0;}
.tab_menu ul li.active {background: #2c94c4;}
.tab_menu ul li.active a {color: #fff;}
.tab_menu ul li.active ul li a {color: #333;}

/* 게시판4 */
.notice4 {position: relative; border: 1px solid #ccc;}
.notice4 h4 {font-size: 14px; color: #54adad; font-weight: 700; border-bottom: 1px solid #ccc; padding: 8px 10px;}
.notice4 h4 em {color: #d37e9c;}
.notice4 ul {padding: 10px;}
.notice4 ul li {overflow: hidden; float: none; background: url(../img/dot.png) no-repeat 0 5px; padding-left: 8px; padding-bottom: 2px;}
.notice4 ul li a {display: block; float: left; width: 65%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-left: 5px;}
.notice4 ul li span {float: right; width: 30%; text-align: right;}
.notice4 a.more {font-size: 30px; color: #4CB3B4; position: absolute; right: 15px; top: -5px;}

/* 단순 글씨 강조 - <em> 태그, 글씨의 중요성 강조 - <strong> 태그 */

/* 갤러리 */
.gallery {position: relative; border: 1px solid #ccc; height: 260px; overflow: hidden;}
.gallery h4 {font-size: 14px; color: #0093bd; border-bottom: 1px solid #ccc; padding: 10px 0 8px 11px; font-weight: bold;}
.gallery .gallery_btn {position: absolute; right: 5px; top: 7px;}
.gallery .gallery_btn ul {overflow: hidden;}
.gallery .gallery_btn ul li {float: left;}
.gallery .gallery_btn ul li a {display: block; width: 25px; height: 26px; background: url(../img/icons2.png) no-repeat;}
.gallery .gallery_btn ul li.gb_icon1 a {background-position: -125px -155px;}
.gallery .gallery_btn ul li.gb_icon1 a:hover {background-position: -151.5px -155px;}
.gallery .gallery_btn ul li.gb_icon2 a {background-position: -125px -181px;}
.gallery .gallery_btn ul li.gb_icon2 a:hover {background-position: -151.5px -181px;}
.gallery .gallery_btn ul li.gb_icon3 a {background-position: -125px -207px;}
.gallery .gallery_btn ul li.gb_icon3 a:hover {background-position: -151.5px -207px;}
.gallery .gallery_btn ul li.gb_icon4 a {background-position: -125px -233px;}
.gallery .gallery_btn ul li.gb_icon4 a:hover {background-position: -151.5px -233px;}
.gallery .gallery_img img {width: 100%; height: 100%}

/* 슬릭 갤러리 */
.gallery .gallery_btn button {float: left; margin: 1px 2px; display: block; width: 25px; height: 26px; background: url(../img/icons2.png) no-repeat;}
.gallery .gallery_btn .gb_icon1 {background-position: -125px -155px;}
.gallery .gallery_btn .gb_icon2 {background-position: -125px -181px;}
.gallery .gallery_btn .gb_icon3 {background-position: -125px -207px;}
.gallery .gallery_btn .gb_icon4 {background-position: -125px -233px;}
.gallery .gallery_btn .gb_icon1:hover {background-position: -151.5px -155px;}
.gallery .gallery_btn .gb_icon2:hover {background-position: -151.5px -181px;}
.gallery .gallery_btn .gb_icon3:hover {background-position: -151.5px -207px;}
.gallery .gallery_btn .gb_icon4:hover {background-position: -151.5px -233px;}

/* 로그인 */
#login-wrap {margin-bottom: 15px; background: #f2f4f5; padding: 15px;}
#login_form .login_header {overflow: hidden; font-size: 12px; height: 30px;}
#login_form .login_header .lh_check {float: left; padding-right: 15px;}
#login_form .login_header .lh_check .input_check {vertical-align: -1px;}
#login_form .login_header .lh_ip {float: left;}
#login_form .login_header .lh_ip em {color: #4CB3B4; text-decoration: underline;}
#login_form .login_content {position: relative;}
#login_form .login_content .lc_btn {position: absolute; right: 0; top: 0; width: 62px; height: 47px; background: #fff; border: 1px solid #bebebe}
#login_form .login_content .lc_text .input_text {width: 182px; height: 16px; padding: 2px 5px; border: 1px solid #bebebe; margin-bottom: 3px; background: #fff;}
#login_form .login_footer {margin-top: 5px;}
#login_form .login_footer li {display: inline;}
#login_form .login_footer li a {font-size: 12px;}

/* 팝업 */
.popup h4 {font-size: 14px; color: #4CB3B4; padding-bottom: 4px; font-weight: 700;}
.popup ul {}
.popup ul li {float: left; width: 93px; margin-right: 5px;}
.popup ul li.last {margin-right: 0;}
.popup ul li img {width: 100%}

/* 푸터 */
.footer {padding: 25px 0; text-align: center;}
.footer ul {padding-bottom: 20px;}
.footer ul li {position: relative; display: inline; padding: 0 7px 0 10px;}
.footer ul li:before {content: ''; width: 1px; height: 12px; background: #ccc; position: absolute; left: 0; top: 2px;} /* 가상요소, ㅑe9부터 가능 */
.footer ul li:first-child:before {width: 0; height: 0;}
.footer .w3c {margin-top: 15px;}

/* 레이어 팝업 */
#layer {display: none; position: fixed; left: 50px; top: 50px; width: 700px; border: 10px solid #dceff7; box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);}
#layer img {width: 100%; display: block;}
#layer .close {position: absolute; right: 20px; top: 20px; background: #45A5A5; color: #fff; padding: 1px 6px;}
#layer .close:hover {text-decoration: underline;}